<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Posts, Vue3 + REST</title>
</head>
<body>
 <div id="app">
    <div v-if="error" style="color: red">{{error}}</div>
    <ul>
        <li v-for="record in records">
            {{record}}
        </li>
    </ul>
 </div>   

<script src="index.js"></script>    
</body>
</html>